@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
}

html {
    scroll-behavior: smooth;
}

p {
  color: rgb(85,85,85);
}

a, .btn {
  transition: all 300ms ease;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}


section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10%;
  box-sizing: border-box;
  min-height: fit-content;
}

/* home section */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100vh;

}

p.profileText1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

h1.title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 5rem; 
}

p.profileText2 {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.profilePicture > img{
  max-width: 30rem;
  border-radius: 10%;
  }

.socialContainerFlex, .btnFlex {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(53, 53, 53);
  color: white;
}

#social-container, #social-container > img{
  cursor: pointer;
  width: 2.5rem;
  }

.section__text__p1, h2 {
  margin: 1rem;
  text-align: center;  
  }

/* header section for navigation bar */
  
.navlist {
  display: flex;
  overflow: visible;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  list-style: none;
  font-size: 1.2rem;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* portfolio section */

#projects > h2 {
  margin: 4rem;
  text-align: center;
}

.project-container {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.project-container1 {
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  margin-top: 10rem;
}

#projects img {
  max-width: 30rem;
  border-radius: 10%;
  }

#projects .project-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#projects img {
  width: 50rem;
  height: 15rem;
}

/* about me section */

.containerGridAboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.aboutmeContainer > h2 {
    margin-top: 0.2rem;
    text-align: center;
}

.containterAboutmeIntro {
  display: flex;
  gap: 30px;
  margin-top:5rem;
}

.containterAboutmeEducation {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 3rem;
}

.containterAboutmeIntro2 > img{
  max-width: 30rem;
  border-radius: 10%;
  }

  .containterAboutmeEducation2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  width: 50%;  
  }

.aboutmeContainer  {
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  margin-top: 2rem;
}

.aboutmeSkillsContainer {
  display: flex;
  gap: 5rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutmeSkillsContainer img, .skills2, #contact img, .UnitqueSkills {
  width: 2.5rem;
}

.skills1 {
  display: flex;
  gap: 5px;
  align-items: center;
}

h3.title {
  text-align: center;
  margin-bottom: 15px;
}

.javascript img {
  width: 1.65rem
}

/* contact me */

.lazyblock {
  display: flex;
  justify-content: center;
}

#contact .containterAboutmeEducation2 {
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
  flex-direction: column;
}

input {
  width: 100%;
  margin-bottom: 25px;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  line-height: 30px;
  color: #000;
  cursor: pointer;
  transition: border-color .2s ease-in-out;
  padding: 5px;
}

/* footer */

footer > p {
  text-align: center;
  margin-top: 25vh;
}

.arrow {
  position: absolute;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  height: 2rem;
}
